
.search{
	padding:6px 15px 6px 30px;
	margin:3px;
	background:url('../images/search/search_search.png') no-repeat 8px 6px;
}
.rounded{
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
input[type=text]{
	color:#bcbcbc;
}
input[type=button],input[type=button]:hover {
	position:relative;
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /*Old browsers*/
	background: -moz-linear-gradient(top,#e4f1f9 0%, #d5e7f3 100%);
	background: -webkit-gradient(linear,left top, left bottom, color-stop(0%,#e4f1f9),color-stop(100%,#d5e7f3));
	background: -webkit-linear-gradient(top,#e4f1f9 0%,#d5e7f3 100%);
	background: -o-linear-gradient(top,#e4f1f9 0%, #d5e7f3 100%);
	background: -ms-linear-gradient(top,#e4f1f9 0%,#d5e7f3 100%);
	background: linear-gradient(top,#e4f1f9 0%,#d5e7f3 100%);
	filter: progid:DXIMageTransform.Microsoft.gradient(startColorstr='#e4f1f9',endColorstr='#d5e7f3',GradientType=0);
	color:#7da2aa;
	cursor:pointer;
}
.lighter, .light, .dark {
	width:95%;
	padding: 20px 25px;		
}
.lighter{
	background-color: #FFFFFF;
}
.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}