/* Global */
body {
  font-family: "Lato", sans-serif; 
  font-weight: 300;
  font-size: 1em;
  color: #8a8683;
  background-color: #ffffff;
}
h1 {
  color: #fff !important;
}
img {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
a:link {
  color: #f68f67;
  text-decoration: none;
}
a:hover {
  color: #bde2df;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
a:visited {
  color: #f68f67;
  text-decoration: none;
}
/* Navigation */
.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 100;
}
#logo {
  text-align: center;
  margin: 10px 0;
}
#nav {
  text-align: right;
  margin: 20px 0 0 0;
}
.navigation {
  float: right;
  list-style: none;
  margin: 0;
}
.navigation li {
  float: left;
  padding: 0 0 0 50px;
}
.navigation li:hover {
  cursor: pointer;
  color: #a9d3d0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation .active {
  cursor: pointer;
  color: #f68f67;
  font-weight: bold;
}
/* General Slides */
.slide {
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  padding: 120px 0;
}
/* Slide 1 */
#slide1 {
  background-image: url('../images/stadium3.jpg');
  background-position: relative;
  background-size: 100% auto;
  background-color: none;
  height: 100%;
  background-repeat: no-repeat;
}
#slide1 h1 {
  margin-left: -0.2em;
  font-size: 5em;
  line-height: 0px;
  color: #fff;
  font-weight: 700;
}
#slide1 h2 {
  font-size: 2.5em;
  color: #fff;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
/* Slide 2 - Main*/
#slide2,
#slide8,
#slide5,
#slide7{
  background-image: -webkit-linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)), -webkit-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
  background-image: -moz-linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)), -moz-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
  background-image: -o-linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)), -o-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
  background-image: -ms-linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)), -ms-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
  background-image: linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)), linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}
#slide2 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #ffffff;
  font-weight: 700;
}
#slide2 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
.mainp {
  color: #ffffff;
}
.mainh {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
}
.maind {
  color: #ffffff;
  margin-right: 1.25em;
  margin-left: 1.25em;
  margin-top: -1.25em;
}
/* Slide 3 - Information*/
#ytplayer {
  margin-top: 3em;
  margin-right: 22px;
}
#slide3 {
  background:url('../images/white_background.jpg');
  color: #ffffff;
}
#slide3 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #8a8683 !important;
  font-weight: 700;
}
#slide3 h2 {
  font-size: 2em;
  color: #8a8683 !important;
  line-height: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: 400;
}
.informationp {
  margin-top: 40px;
  color: #8a8683;
}
#informationdata {
  margin-top: 40px;
}

/* Slide 8 - Geo*/
#slide8 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #ffffff;
  font-weight: 700;
}
#slide8 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
#slide8 h3 {
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 50px;
  line-height: 0px;
  font-weight: normal;
}
.socialcontent {
  margin-top: 20px;
  color: #ffffff;
}
.socialcontent strong {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 5px 12px;
  border-radius: 100%;
  float: left;
  margin-right: 1em;
}
.socialcontent p {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}
.socialcontent .left {
  max-width: 90%;
}

/* Slide 4 - Sentiment Analysis*/
#slide4 {  
  background:url('../images/white_background.jpg');
  color: #8a8683;
}
#slide4 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #8a8683 !important;
  font-weight: 700;
  margin: 0.5em 0px;
}
#slide4 h2 {
  font-size: 2em;
  color: #8a8683;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
#slide4 h3 {
  font-size: 1em;
  color: #8a8683;
  margin-bottom: 50px;
  line-height: 0px;
  font-weight: normal;
}
.socialcontent {
  margin-top: 20px;
  color: #8a8683;
}
.socialcontent strong {
  color: #ffffff;
  border: 2px solid #8a8683;
  padding: 5px 12px;
  border-radius: 100%;
  float: left;
  margin-right: 1em;
}
.socialcontent p {
  color: #8a8683;
  font-size: 13px;
  font-weight: bold;
}
.socialcontent .left {
  max-width: 90%;
}
/* Slide 5 - Social*/
#slide5 {
  /*background-color: #FFFFFF;*/
  color: #FFFFFF;
}
#slide5 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #FFFFFF !important;
  font-weight: 700;
  margin: 0.5em 0px;
}
#slide5 h2 {
  font-size: 2em;
  color: #FFFFFF;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
.socialcontent {
  margin-top: 20px;
  color: #FFFFFF;
}
.socialcontent strong {
  color: #ffffff;
  border: 2px solid #FFFFFF;
  padding: 5px 12px;
  border-radius: 100%;
  float: left;
  margin-right: 1em;
}
.socialcontent p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
}
.socialcontent .left {
  max-width: 90%;
}



/* Slide 6 - Search */
#slide6 {
  /*background-color: #FFFFFF;*/
  background:url('../images/white_background.jpg');
  color: #8a8683;
}
#slide6 h1 {
  font-size: 3.8em;
  line-height: 0px;
  color: #8a8683 !important;
  font-weight: 700;
  margin: 0.5em 0px;
}
#slide6 h2 {
  font-size: 2em;
  color: #8a8683;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
.searchp {
  color: #8a8683;
  font-weight: normal;
  line-height: 0px;
  padding-top: 20px;
}
.searchd {
  color: #8a8683;
  font-weight: normal;
  line-height: 0px;
}

/* Slide 7 - Credits */
#slide7 h2 {
  font-size: 1.5em;
  color: #FDB515;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}
.creditsa {
  color:#FDB515 !important;
}
.creditsa :hover {
  cursor: pointer;
  color: #a9d3d0 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  #logo {
    width: 100%;
    text-align: center;
  }
  #nav {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .navigation {
    width: 100%;
    float: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation li {
    float: left;
    width: 25%;
    padding: 0;
  }
  .slide {
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 150px 0;
  }
  #decorative {
    display: none;
  }
  #content {
    text-align: center;
    width: 100%;
  }
  #slide1 h1 {
    line-height: 1em;
  }
  #slide1 h2 {
    line-height: 1em;
  }
  #slide2 h1 {
    line-height: 1em;
  }
  #slide2 h2 {
    line-height: 1em;
  }
  #slide3 h1 {
    line-height: 1em;
  }
  #slide3 h2 {
    line-height: 1em;
  }
  #slide4 h1 {
    line-height: 1em;
  }
  #slide4 h2 {
    line-height: 1em;
  }
  #slide5 h1 {
    line-height: 1em;
  }
  #slide5 h2 {
    line-height: 1em;
  }
}
/* Mobile */
@media screen and (max-width: 480px) {
  #logo {
    width: 100%;
    text-align: center;
  }
  #nav {
    width: 100%;
    margin: 5px 0;
  }
  .navigation {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation li {
    float: left;
    width: 25%;
  }
  .slide {
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 150px 0;
  }
  #slide1 h1 {
    line-height: 1em;
  }
  #slide1 h2 {
    line-height: 1em;
  }
  #slide2 h1 {
    line-height: 1em;
  }
  #slide2 h2 {
    line-height: 1em;
  }
  #slide3 h1 {
    line-height: 1em;
  }
  #slide3 h2 {
    line-height: 1em;
  }
  #slide4 h1 {
    line-height: 1em;
  }
  #slide4 h2 {
    line-height: 1em;
  }
}
/*** New CSS ***/
#content {
  position: relative;
}
h1.sideh1 {
  position: absolute;
  left: -40px;
  top: 12px;
}
h1.sideh12 {
  position: absolute;
  left: -40px;
  top: 332px;
}
h1.sideh13 {
  position: absolute;
  left: -40px;
  top: 71px;
}
h1.sideh14 {
  position: absolute;
  left: -40px;
  top: 148px;
}
h1.sideh15 {
  position: absolute;
  left: -40px;
  top: 390px;
}
h1.sideh16 {
  position: absolute;
  left: -40px;
  top: 448px;
}

div.center iframe {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.rowd .grid_1 {
  margin: 0px 5px !important;
}
.rowd strong {
  color: #000 !important;
}
.background-fade {
  background: rgba(0, 0, 0, 0.4);
  padding: 3em;
}
.fa-stack {
  font-size: 3em;
  color: #111;
}
.flag {
  max-width: initial !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.flag:hover {
  -webkit-box-shadow: 0 0 2px #525252;
  box-shadow: 0 0 2px #525252;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.image-zoom {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.image-zoom:hover {
  -webkit-box-shadow: 0 0 2px #525252;
  box-shadow: 0 0 2px #525252;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.image-zoomed img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.image-zoomed-title {
  color: #fff;
  padding: 2em;
  text-align: center;
  text-shadow: 0 0 5px #212121;
  position: absolute;
  bottom: 0;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.windy-demo {
  margin-top: 2em;
  width: 80%;
  color: #aaa;
}
.windy-demo ul.wi-container {
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.windy-demo h4 {
  padding: 0 10px;
  line-height: 26px;
  margin: 0;
}
.windy-demo ul.wi-container li {
  padding: 0;
  border: 10px solid none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.day-label {
  color: #fff;
  font-size: 0.8em;
  margin-left: -0.5em;
}
#slider {
  width: 200px;
  border-radius: 0;
  border: none;
  width: 100%;
  margin: 2em 0 0 0;
  background: #819FF7;
  /*
	box-shadow: 0 1px 1px rgba(255,255,255,0.8), inset 0 1px 2px rgba(0,0,0,0.3), 0 0 0 8px rgba(0,0,0,0.1), 0 1px 1px 8px rgba(255, 255, 255, 0.8);
	background: #b0d4e3;
	background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf));
	background: -webkit-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: -o-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: -ms-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: linear-gradient(to bottom, #b0d4e3 0%,#88bacf 100%);
*/
}
#slider a {
  outline: none;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}
#slider a:hover,
#slider a:active {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#tw-search-wrap {
  display: block;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}
#tw-search-input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.2em 1.5em;
  margin-top: 1em;
}
#tw-search .fa.fa-search,
#tw-search .fa.fa-spinner {
  color: #525252;
  position: relative;
  left: 1.2em;
}
#tw-search-results {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  height: 421px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.tw-search-result,
.tw-search-result-round {
  background: #fff;
  list-style-type: none;
  border-bottom: 1px solid silver;
  color: #616161;
  padding: 1em 1em;
}
.tw-search-result-round {
  border-radius: 5px;
}
.tw-search-result:first-child {
  border-top-left-radius: 5px;
}
.tw-search-result:last-child {
  border-bottom-left-radius: 5px;
}
.tw-search-username a {
  color: #f68f67 !important;
}
.tw-search-username a:hover {
  color: #f68f67 !important;
  text-decoration: underline;
}
.tw-search-date {
  display: block;
  font-size: 0.8em;
  padding-top: 0.5em;
  color: #737373;
}
.tw-no-results {
  font-style: italic;
  font-size: 0.9em;
  color: #efefef;
}
#ui-id-1 {
  border-radius: 5px;
  margin-top: 0.3em !important;
  max-width: 300px !important;
  list-style: none;
  padding: 0.5em 1em;
  max-height: 200px;
  overflow-y: auto;
}
#ui-id-1 .ui-menu-item {
  padding: 6px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#ui-id-1 .ui-menu-item:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.zoomed {
  -webkit-animation: zoom 0.5s ease;
  animation: zoom 0.5s ease;
}
::-webkit-input-placeholder {
  color: #717171;
  font-style: italic;
  font-size: 0.9em;
}
:-moz-placeholder {
  color: #717171;
  font-style: italic;
  font-size: 0.9em;
  opacity: 1;
}
::-moz-placeholder {
  color: #717171;
  font-style: italic;
  font-size: 0.9em;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #717171;
  font-style: italic;
  font-size: 0.9em;
}
